@model AsteelProjectManagement.Models.Projects

<script>
    function confirmDelete() {
        // Soumettre le formulaire de suppression
        document.getElementById('deleteForm').submit();
    }
</script>

<div>
    <p>Are you sure you want to delete the project "@Model.ProjectName"?</p>
</div>

@using (Html.BeginForm("DeleteConfirmed", "Projects", FormMethod.Post, new { id = "deleteForm", @class = "form-inline" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.ProjectID) <!-- Champ caché pour l'ID du projet -->
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
}
