@model AsteelProjectManagement.Models.Comments

@{
    ViewData["Title"] = "Edit Comments";
}


<form asp-action="Edit" method="post">
    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextBoxFor(m => m.Content, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Content)
    </div>
  




</form>
